/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Scoutie+Sans:ital,wght@0,200..800;1,200..800&display=swap');



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Scoutie Sans", sans-serif;
}
html, body {
    height: 100%;
    width: 100%;
}
body{
    color: #fff;
    background: #0A101C;
}
.nav{
    height: 60px;
    display: flex;
   
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 0 70px;
    /* border: 2px solid red; */
    border-bottom: 2px solid #4f4e4e;
}


.logo{
    display: flex;
    align-items: center;
    gap: 5px;
}
.logo img{
    width: 40px;
    border-radius: 50%;
}
.logo .logo-caps{
    color: #573BC5;
}
.logo h1{
    letter-spacing: 1.5px;
    font-weight: 600;
}


.links{
    width: 280px;
    height: 100%;
    /* border: 2px solid green; */
    display: flex;
    justify-content: space-around;
}
.links .link{
     position: relative;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 4px;
    color: #fff;
    padding: 0 5px;
}
.links .link:hover,.link.active{
    color: #573BC5;
}
.links .link.active:before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background: #573BC5;
}

